/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/elements/button.sass";

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #2E5090;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #2E5090;
}

.border-bottom {
    border-bottom: 1px solid #2E5090;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    background-color: #efefef;
    margin-top: auto;
    /*height: 12em;*/
}

.footer-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 12em;
    color: #2E5090;
    margin-right: 5%;
    margin-left: 5%;
}

.container {
    width: 100%;
    height: 100%;
}

.topNavMenu {
    flex: 1;
    flex-basis: 50% !important;
    justify-content: center;
}

.name-header {
    text-align: center;
}

h4, .nav-link {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    /*    color: white !important;*/
    color: #2E5090 !important;
}

.footer-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    /*    color: white !important;*/
    color: #2E5090 !important;
    font-size: 14px;
}


@media (max-width: 1100px) {
    .name-header > h3 {
        font-size: 20px;
    }

    .name-header > h5 {
        font-size: 16px;
    }
}

.wrapper {
    padding-bottom: 90px;
}

.divider {
    position: relative;
    /*margin-top: 90px;*/
    height: 1px;
    margin-left: 5%;
    margin-right: 5%;
}

.div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    /*left: 5%;
    right: 5%;*/
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(46, 80, 144), transparent);
}

.div-arrow-down:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -7px;
    left: calc(50% - 7px);
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    background-color: white;
    border-bottom: 1px solid rgb(46, 80, 144);
    border-right: 1px solid rgb(46, 80, 144);
}


.navbar {
    /*    background-color: rgba(52, 58, 64, 0.9) !important;*/
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.header-color {
    color: #575757;
    font-family: 'EB Garamond', serif;
}

.btn-xl {
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    padding-left: 5%;
    padding-right: 5%;
    border-color: #2E5090 !important;
    color: white !important;
    background-color: #2E5090 !important;
    width: 20%;
}

.content-row-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    /*align-items: center;*/
}

.col-flex {
    flex: 1;
    display: flex;
    justify-content: center;
    /*align-content: start;*/
    flex-wrap: nowrap;
    min-width: 350px;
    margin-bottom: 5%;
    flex-basis: 50%;
}

.feature-header {
    width: 100%;
}


.row-no-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.col-img-flex {
    flex: 1;
    width: 50%;
    min-width: 250px;
    margin-bottom: 1em;
}

.abt-img {
    max-width: 100%;
    min-width: 40%;
}

.row-vertical {
    display: flex;
    flex-direction: column;
    /*  align-items: stretch;*/
    justify-content: space-between;
}

.simp-flex {
    flex: 1;
}

.simp-flex-footer {
    flex: none;
}


.para-text {
    font-size: 16px;
    font-family: 'Roboto', arial, sans-serif;
}

.home-container, .home-container-full, .about-container, .contact-container,.login-container, .integrative-nutrition-container, .faq-container, .container-row-integrative, .corp-eng-container, .about-2-container {
    max-width: 1500px;
    margin: 0 auto;
}

.about-container, .contact-container, .faq-container, .corp-eng-container, .container-row-integrative, .login-container {
    padding-top: 100px;
    padding-bottom: 50px;
}

.container-fluid {
    padding: 0 !important;
}

.row {
    margin: 0;
    padding: 0;
}

.container-row-about {
    margin-bottom: 5%;
    background-color: #eceff1;
}


#about-container-id > .div-arrow-down:after {
    background-color: #eceff1 !important;
}

.welcome-text, .contact-form {
    margin-left: 10%;
    margin-right: 10%;
}

.home-image-div {
    background: black url(../content/snow-mountains_background.png) no-repeat scroll top;
    width: 100%;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 1300px) {
.home-btn-container {
    margin-left: 7.5% !important;
}
.header-title {
    font-size: 3em !important;
}
    .header-sub-title {
        font-size: 1em !important;
    }
}



@media only screen and (max-width: 900px) {
    .home-image-div {
        height: 350px;
        min-height: 350px;
        width: 100%;
    }
    .header-title {
        font-size: 2.5em !important;
    }
}

@media only screen and (max-width: 778px) {
    .home-image-div {
        height: 300px;
        min-height: 300px;
        width: 100%;
    }

    .corp-flex-col {
        justify-content: left !important;
    }

    .int-nut-faq-hidden {
        display: block !important
    }

    .int-nut-faq-display {
        display: none;
    }

    .header-title {
        font-size: 2em !important;
    }
}

@media only screen and (max-width: 550px) {

    .btn-xl {
        width: 33% !important;
    }
    .home-btn-container {
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
    .header-title {
        font-size: 1.5em !important;
    }

    .header-sub-title {
        font-size: 0.75em !important;
    }

    .footer-center {
        flex-direction:column;
        padding-top: 20px;
    }

    .simp-flex-footer {
        flex: 1;
        min-width: 100px;
    }

    .footer-txt-divider {
        display: none !important;
    }

}

    @media only screen and (max-width: 375px) {
        .home-image-div {
            min-height: 200px;
            width: 100%;
        }
    }
    .custom-button {
        border-color: #2E5090 !important;
        color: #2E5090 !important;
    }

        .custom-button:hover, .custom-button:active, .custom-button:visited {
            background-color: #2E5090 !important;
            color: white !important;
        }

    .thank-you-card {
        max-height: 80%;
        margin-left: 10%;
        margin-right: 10%;
        border: 1px solid #575757;
    }


    .int-nut-id {
        cursor: pointer;
    }

    .int-nut-faq-hidden {
        display: none;
    }

.home-btn-container {
    margin-left: 14%; 
    margin-right: 10%;
}

.header-title {
    font-size: 3.5em;
    color: white;
    font-family: Lato,sans-serif,'helvetica neue',helvetica,arial,verdana;
    text-shadow: rgba(255,255,255,.1) -1px -1px 1px, rgba(0,0,0,.5) 1px 1px 1px;
}

.header-sub-title {
    font-size: 1.5em;
    color: white;
    font-family: Lato,sans-serif,'helvetica neue',helvetica,arial,verdana;
    text-shadow: rgba(255,255,255,.1) -1px -1px 1px, rgba(0,0,0,.5) 1px 1px 1px;
}

/* Admin STUFF*/

.admin-container {
    display: flex; 
    flex-direction: row;
    margin-right: 10%;
    margin-top: 75px;
}

.admin-sidenav {
    flex: 1;
    max-width: 20%;
    border: 1px solid black;
    background-color: #2E5090;
    min-height: 100vh;
    margin-right: 5%;
}

.admin-content {
    flex: 1;
}

#sidebar {
    margin-left: 5%;
}

#page-list a {
    color: white !important;
    font-size: 1em;
}

.login-form {
    max-width: 350px;
}

.login-container {
   flex-direction: column;

}
