<!DOCTYPE html>

<html lang="en">

<head>
    @await Component.InvokeAsync("Head")
</head>
<body>
    @await Component.InvokeAsync("Header")

    <div class="container-fluid">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="text-center footer-center">
                <div class="simp-flex-footer">
                    <a class="pr-2 footer-text" asp-controller="Home" asp-action="FAQ"> FAQ</a>
                    <span class="pr-2 footer-text footer-txt-divider">|</span>
                </div>
                <div class="simp-flex-footer">
                    <a class="pr-2 footer-text" asp-controller="Home" asp-action="Index"> HOME </a>
                    <span class="pr-2 footer-text footer-txt-divider">|</span>
                </div>
                <div class="simp-flex-footer">
                    <a class="pr-2 footer-text" asp-area="" asp-controller="Home" asp-action="IntegrativeNutrition">INTEGRATIVE NUTRITION</a>
                    <span class="pr-2 footer-text footer-txt-divider">|</span>
                </div>
                <div class="simp-flex-footer">
                    <a class="pr-2 footer-text" asp-controller="Home" asp-action="About"> ABOUT </a>
                    <span class="pr-2 footer-text footer-txt-divider">|</span>
                </div>
                <div class="simp-flex-footer">
                    <a class="pr-2 footer-text" asp-controller="Contact" asp-action="Index"> CONTACT </a>
                </div>

            </div>
            <span>  &copy; 2020 - bbbmNutrition </span>
        </div>

    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

