@model CorporateEngagementModel
@using bbbm.Enums;


<div class="corp-eng-container container">
    <div class="text-center header-color">
        @Html.Raw(Model.pageSections[(int)corp_engagement_enums.corp_title].SectionContent)
    </div>
    <div id="integrative-container-id">
        <div class="divider div-transparent div-arrow-down mb-5"></div>
    </div>
    <div class="text-center pb-5" style="margin-left: 5%; margin-right: 5%;">
        @Html.Raw(Model.pageSections[(int)corp_engagement_enums.corp_sub_header].SectionContent)

    </div>
    <div class="content-row-flex">
        <div class="col-flex corp-flex-col" style="color:#575757">
            <div class="row-noflex">
                @Html.Raw(Model.pageSections[(int)corp_engagement_enums.left_col].SectionContent)
            </div>
        </div>

        <div class="col-flex" style="color:#575757">

            <div class="row-noflex">
                @Html.Raw(Model.pageSections[(int)corp_engagement_enums.right_col].SectionContent)
            </div>
        </div>
    </div>
</div>