@{
    ViewData["Title"] = "Home Page";
}

    <div class="home-container-full">
        <div class="home-image-div text-center" style="margin-top: -125px;">
            @* <img class="home-image" src="~/content/snow-mountains_background.png" />*@
        </div>
        <div class="row justify-content-center container-row">
            <div class="home-container">
                <div id="home-container-id" style="width: 100%;">
                    <div class="header-color text-center"> <h3>Welcome</h3></div>
                    <div class="divider div-transparent div-arrow-down mb-5"></div>
                </div>
                <div class="text-center welcome-text">
                    <p class="mb-3 para-text">
                        In 2009 I was diagnosed with Crohn’s Disease: an autoimmune condition. By October, 2011 I had found my personal cure. Along the way my entire life changed. By 2014 I had left my Physics PhD track and completed my Master’s in Nutrition. I went through The Four Winds Lightbody Healing Program and along the way found myself starting studies with indigenous healers. You can read more about my journey if you’d like to know more about the path I took to healing.
                    </p>
                    <p class="mb-3 para-text">
                        To me, being a guide means accepting the responsibility of taking you as far along your healing path as I can. My goal is to get you well quickly and efficiently. Insofar I have guided 100’s of people to health and wellness.
                    </p>
                    <p class="mb-3 para-text">
                        As a guide I work to merge established with cutting edge science while sourcing from the ancient traditions. We craft an explanatory model large enough to encompass all of your present state in all of its simplicity or complexity while providing a clear, grounded path towards healing.
                    </p>
                    <p class="mb-3 para-text">
                        To work with me you can submit an interest form found
                    </p>
                    <p class="mb-3 para-text">
                        <a href="../Contact/Index">here</a>
                    </p>
                </div>

            </div>

        </div>
        <div class="container-row-integrative">
            <div class="integrative-container mb-5">
                <div class="text-center header-color"> <h3>Integrative Nutrition </h3></div>
                <div id="integrative-container-id">
                    <div class="divider div-transparent div-arrow-down"></div>
                </div>
                <div class="mt-5 text-center mb-5" style="margin-left: 10%; margin-right: 10%;">
                    <span class="font-italic"> As an Integrative Nutritionist, I use Food as Medicine alongside targeted nutraceutical and herbal therapies and lab testing as needed for both an adult and pediatric population.</span>
                    <br /> 
                    <br /> 
                    <span> <a href="/Home/CorporateEngagement"> Corporate Engagement Information </a></span>
                </div>
                <div class="content-row-flex">
                    <div class="col-flex">
                        <img src="~/content/wholefoods.jpg" width="275" height="183" />
                    </div>

                    <div class="col-flex" style="color:#575757">

                        <div class="row-noflex">
                            <h3 class="text-center" style="font-size: 20px;">Areas of Specialty</h3>
                            <div>
                                <ul >
                                    <li>
                                        Gastrointestinal Conditions: IBS & SIBO + Managing Crohn’s, Colitis, Celiac, and Gastroparesis
                                    </li>
                                    <li>
                                        Autoimmunity: Reducing Symptoms & Medications (alongside your medical doctor)
                                    </li>
                                    <li>
                                        Neurological Conditions: Reducing Symptoms from ADD, ADHD, & Autism Spectrum Disorders
                                    </li>
                                    <li>
                                        Chronic Symptoms of Unknown Origin
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-flex">
                        <div class="row-noflex">
                            <h3 class="text-center"  style="font-size: 20px;">Appointments Times & Locations</h3>
                            <div class="text-center apts-loc-ul">
                                <ul class="pl-0" style="list-style-type: none;">
                                    <li class="pr-4" style="margin-bottom: 2em;">
                                        Friday: 1:00 - 5:00 PM
                                    </li>
                                    <li style="margin-bottom: 2em;">
                                        Saturday : 11:00 AM – 5:00 PM
                                    </li>
                                    <li style="margin-bottom: 2em;">
                                        <span> All consultations are via phone or video call</span>
                                    </li>
                                    <li style="margin-bottom: 2em; font-size: 14px; margin-left:5%; margin-right: 5%;">
                                        <p> ***After the consultation your follow up email will include a summary of the consultation and your personal root causes alongside all dietary recommendations and your therapeutic protocol.***</p>

                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>

                    <div class="col-flex">
                        <div class="row-noflex">
                            <h3 class="text-center" style="font-size: 20px;">Scheduling</h3>
                            <div>
                                <ul>
                                    <li>
                                        Call: 845-544-9427
                                    </li>
                                    <li>
                                        Use Contact Form: <a href="../Contact/Index">here</a>
                                    </li>
                                </ul>

                            </div>
                            <h3 class="text-center" style="font-size: 20px;">Investment</h3>
                            <div>
                                <ul>
                                    <li>
                                        Initial Consultation (1.5 hours): $170.00
                                    </li>
                                    <li>
                                        Follow Up Consultation (30 – 90 minutes): $100.00/hr
                                    </li>
                                </ul>

                            </div>
                            <h3 class="text-center" style="font-size: 20px;">Insurance</h3>
                            <div>
                                <ul>
                                    <li>
                                        I do not accept insurance
                                    </li>
                                    <li>
                                        I provide upon request the form necessary to submit for reimbursement from an out-of-network provider.
                                    </li>
                                </ul>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div> 

